
.aboutContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.aboutItem {
    flex: 1;
    margin: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}  


p {
    text-align: center;
}

.aboutTitle {
    color: black;
}

