
.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.item {
    flex: 1;
    margin: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}  

h1.about {
    color: black;
}

p.about {
    text-align: center;
}