
.aboutContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.aboutItem {
    flex: 1;
    margin-bottom: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 9rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 5rem;
    align-items: flex-start;
}  

.aboutCopy {
    text-align: left;
    font-size: 1.5 rem;

}

.aboutTitle {
    font-size: 2rem;
  
}

.aboutLinks {
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
}

.aboutLinks a {
  color: #d26aab;
}
