*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Zen Kaku Gothic New", sans-serif;;

}


.container {

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;      
    justify-content: center;


    position: relative;
    z-index: 1;

}

h1{

    font-size: 75px;
    color: white;


}

.typed-cursor {

    display:inline;
    font-size: 40px;
    color:#826C7F;


}

h2 {

    font-size: 40px;
    color: #826C7F;

}


.subtitle {

    display: inline-flex;
    align-items: baseline;

}

.auto-type {

    margin: 0;
    opacity: 0;
    transition: opacity 2s ease;
    
}

.auto-type.show {

    opacity: 1;

}

#title {

    opacity:0;
    transition: opacity 2s ease;

}

#title.show {

    opacity: 1;

}

#links {

    display: flex;
    gap: 200px;
    justify-content: center;
    margin-top: 50px;

    opacity: 0;
    transition: opacity 2s ease;

}

#links.show {

    opacity: 1;

}

#links a {

    font-size: 25px;
    font-weight: 100;
    text-decoration: none;
    color: white;
    letter-spacing: 3px;

}

.zoom {

    transition: transform .3s;

}

.zoom:hover{

    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);

}
