.projectsTitle {

    text-align: left;
    margin: 4rem;

}

.list {

    padding-left: 4rem;
    display: flex;
    flex-direction: column;

}

.image {

    display: flex
    flex-direction: column;

}