.projectsTitle {

    text-align: left;
    margin: 4rem;

}

.projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 4rem;
}

.card {

    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.5rem;


}

.cardTitle{

    font-size: 2rem;
    padding: 2rem;
    text-align: center;

}

.cardDesc {

    font-size: 1rem;
    padding: 1rem;
    text-align: center;

}

.tagCont {

    padding: 2rem;
    text-align: center;
    display: flex;
    gap: 1.3rem;
    align-items: center;      
    justify-content: center;

}

.tag {

    border-radius: 8px;
    background-color: rgb(231, 192, 225);
    padding: 0.2rem 0.8rem;
    text-align: center;
    font-size: 0.8rem;

}